{{#if group}}
    <h1>{{ name }} sites</h1>

    {{> templates_ads_banner}}
{{else}}
    <h4>
        <a href="/sites/{{ slug }}" class="site-group-link">
            {{ name }} sites
        </a>
    </h4>
{{/if}}
<div class="row-fluid">
    <ul class="column-1 span3 nav nav-list"></ul>
    <ul class="column-2 span3 nav nav-list"></ul>
    <ul class="column-3 span3 nav nav-list"></ul>
    <ul class="column-4 span3 nav nav-list"></ul>
</div>
{{#if more}}
<br>
<p class="alert alert-info">
    <a href="/sites/{{ slug }}" class="site-group-link">
        All {{ total }} {{ name }} sites
    </a>
</p>
{{/if}}
